.App {
  text-align: center;
}

.header {
  height: 5.4vh;
  background-color: rgb(8, 110, 114);
}

.menu {
  background-color: rgb(8, 110, 114);
}

.menuItem {
  width: 49%;
  background-color: rgb(8, 110, 114);
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
}

.customCol {
  width: 35%;
  background-color: rgb(8, 110, 114);
  align-items: stretch;
}