.container {
    display: grid;
    grid-template-columns: 100px 30% 100px;
    grid-template-rows: 200px 100px;
    justify-content: space-evenly;
}

.cell {
    border: 1px solid blue;
    background: turquoise;
}