header {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 10vh;
}

.central_part {
    border: 1px solid green;
    height: 75vh;
    display: flex;
    font-size: 18px;
    flex-direction: row;
}

main {
    border: 1px solid lightgreen;
    display: flex;
    width: 60vw;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: space-around;
    flex-flow: row wrap;
}

.main1 {
    border: 1px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 29vw;
}

.main2 {
    border: 1px solid pink;
    display: flex;
    height: 15vh;
    width: 59vw;
    justify-content: center;
    align-items: center;
}

aside {
    border: 1px solid lightblue;
    width: 40vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

footer {
    border: 1px solid purple;
    height: 12vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

.foot1 {
    border: 1px solid lightseagreen;
    display: flex;
    width: 20vw;
    justify-content: center;
    align-items: center;
}