:root {
    --custom-color: rgb(8, 110, 114);
}

.LangCard {
    border: 2px solid var(--custom-color);
    width: 20%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(227, 229, 230);
}

.EnglishText {
    color: var(--custom-color);
    font-weight: bold;
}

.RussianText {
    font-weight: bold;
}

.CardButton {
    background-color: rgb(227, 229, 230);
    color: var(--custom-color);
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid var(--custom-color);
}